<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <queues>
            <general>
                <is_logger_enabled>0</is_logger_enabled>
            </general>
        </queues>
    </default>
</config>
