<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\Queue\Api\ContainerInterface" type="MageSuite\Queue\Model\Container" />
    <preference for="MageSuite\Queue\Api\HandlerInterface" type="MageSuite\Queue\Model\Handler" />

    <type name="MageSuite\Queue\Service\Publisher">
        <arguments>
            <argument name="consumerName" xsi:type="string">magesuite.consumer.db</argument>
        </arguments>
    </type>
</config>
